body {
    background-image: url("https://img.freepik.com/premium-photo/forest-with-stream-running-through-it_739292-15432.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}